.tt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.tt-develop {
    font-size: 50px;
    text-align: left;
    padding: 30px;
    background: linear-gradient(-230deg, #6EB257 35%, #acbf71, #C5E063);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}

.tt-description {
    text-align: left;
    max-width: 50%;
}

.tt-banner {
    max-width: 20%;
    height: auto;
    border-radius: 25%;
    padding-bottom: 20px;
}
