.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
    padding-top: 3%;
}

.about-title {
    position: relative;
}

.about-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.about-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.about-section {
    display: flex;
    gap: 80px;
}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about-paragraph {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    font-weight: 500;
    max-width: 650px;
}

.about-skills {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about-skill {
    position: relative;
    display: inline-block;
}

.about-skill-drop {
    opacity: 0;
    position: absolute;
    padding: 5px 0px;
    z-index: 1;
    transition: all 0.2s;
}

.about-skill:hover {
    height: 55px;
}

.about-skill:hover .about-skill-drop {
    opacity: 1;
}

.about-skill-top {
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}

.about-skill-top p {
    min-width: 150px;
    font-size: 25px;
    font-weight: 500;
}

.about-skill-top hr {
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(267deg, #acbf71, #59ba73);
}

.about-skill-top:hover {
    transform: scale(1.01);
    transition: 0.3s;
}





.about-achievements {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
}

.about-achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}

.about-achievement h1 {
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(267deg, #acbf71, #59ba73);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-achievement p {
    font-size: 22px;
    font-weight: 500;
}

.about-achievement:hover {
    transform: scale(1.12);
    transition: 0.5s;
}



.about-left img {
    border-radius: 30px;
    height: 400px;
    width: auto;
}

.about a {
    text-decoration: none;
    color: white;
}
