.snap-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 100vh;
  width: 100vw;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth; 
}


.snap-section {
  flex: 0 0 100vw;       
  height: 100vh;
  scroll-snap-align: start;
  box-sizing: border-box;
}


section.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}


.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}
