* {
	margin: 0;
	padding: 0;
}

html {
	scroll-padding-top: 300px;
}

body {
	height: 100vh;
	background: #122922;
	color: white;
	font-family: "outfit";
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
}

